{% extends 'aves/base.html' %}

{% load static %}

{% block title %}Lista de Aves{% endblock %}

{% block extra_header %}
<!-- DataTables -->
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css"> -->

<!-- DataTables Bootstrap5 -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
{% endblock %}





{% block main_content %}
<div class="row pb-3">
  <section class="col">
    <table id="aves-list" class="table table-hover">

      <thead>
	<tr>
	  <th scope="col">Espécie</th>
	  <th scope="col">Ordem</th>
	  <th scope="col">Família</th>
	  <th scope="col">Nome Polular</th>
	  <th scope="col" data-orderable="false">Operações</th>
	</tr>
      </thead>

      <tbody>
	{% for ave in ave_list %}
	<tr class="ave-row">
	  <td>{{ ave.nome_cientifico | default:'&mdash;' }}</td>
	  <td>{{ ave.familia.ordem.nome | default:'&mdash;' }}</td>
	  <td>{{ ave.familia.nome | default:'&mdash;'}}</td>
	  <td>{{ ave.nome_popular | default:'&mdash;' }}</td>
	  <td class="op-btn">
	    
	    <div class="btn-group">
	      <a class="btn btn-info" role="button" alt="Detalhes" aria-label="Detalhes" data-bs-toggle="tooltip" data-bs-original-title="Detalhes" href="{% url 'aves:ave_detail' ave.pk %}">
		<img src="{% static 'aves/icons/eye.svg' %}" alt="Detalhes">
	      </a>
	      <a class="btn btn-warning" role="button" aria-label="Editar" alt="Editar" data-bs-toggle="tooltip" data-bs-original-title="Editar" href="{% url 'aves:ave_edit' ave.pk %}">
		<img src="{% static 'aves/icons/pencil.svg' %}" alt="Editar">
	      </a>
  	      <a class="btn btn-danger rem-btn" role="button" aria-label="Remover" alt="Remover" data-bs-toggle="tooltip" data-bs-original-title="Remover" href="{% url 'aves:ave_delete' ave.pk %}">
		<img src="{% static 'aves/icons/trash.svg' %}" alt="Remover">
	      </a>
	    </div>
	    
	  </td>
	  
	</tr>
	{% endfor %}
      </tbody>
      
    </table>
  </section>
</div>
{% endblock %}



{% block end_body_script %}

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

<!-- DataTables Bootstrap5 -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>




<script>
  $( document ).ready( () => {
      $( '#aves-list' ).DataTable( {
	  language: {
	      //https://datatables.net/plug-ins/i18n/Portuguese-Brasil.html
	      url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json',
	  },
	  //responsive: false,
      });
  });


  //Tolltips
  let tooltipTriggerList = [].slice.call( document.querySelectorAll('[data-bs-toggle="tooltip"]') );
  let tooltipList = tooltipTriggerList.map( (tooltipTriggerEl) => {
      return new bootstrap.Tooltip(tooltipTriggerEl)
  });
</script>

{% endblock %}
